/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
  color: var(--secondary);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.55em;
  font-weight: 400;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--primary);
  font-family: var(--primary-font);
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 1.2em;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

table {
  width: 100%;
  margin-bottom: 25px;

  th {
    font-weight: 600;
    color: var(--secondary);
  }

  td,
  th {
    border-top: 1px solid var(--border);
    padding: 11px 10px;
  }
}

dl {
  margin-bottom: 25px;

  dt {
    font-weight: 600;
  }
}

b,
strong {
  font-weight: bold;
}

pre {
  color: var(--secondary);
  border: 1px solid var(--border);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
}

input,
textarea {
  color: var(--primary);
  transition: all 0.4s ease;
}
