/*--------------------------------------------------------------
## All Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --primary: #070707;
  --secondary: #525050;
  --accent: #18c99d;
  --orange: #ff4b13;
  --gray: #f5f5f5;
  --border: #dcdcdc;
  --primary-font: 'Jost', sans-serif;
  --secondary-font: 'Jost', sans-serif;
}
