/*--------------------------------------------------------------
  7. Footer
----------------------------------------------------------------*/
.cs_footer_menu {
  display: flex;
  gap: 5px 35px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.cs_footer_menu_2 {
  li {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}
.cs_widget_title {
  margin-bottom: 32px;
  @media (max-width: 1400px) {
    margin-bottom: 22px;
  }
}
.cs_text_widget {
  img {
    margin-bottom: 30px;
    @media (max-width: 1400px) {
      margin-bottom: 20px;
    }
  }
  p {
    margin: 0;
  }
  + .cs_social_links {
    margin-top: 40px;
    @media (max-width: 1400px) {
      margin-top: 30px;
    }
  }
}

.cs_category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  a {
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px 26px;
    &:hover {
      opacity: 0.75;
    }
  }
  @media (max-width: 1750px) {
    gap: 15px;
    a {
      font-size: 20px;
      padding: 8px 20px;
      line-height: 1.6em;
    }
  }
  @media (max-width: 1750px) {
    gap: 12px;
    a {
      font-size: 20px;
      padding: 8px 20px;
      line-height: 1.6em;
    }
  }
}
.cs_footer_row_1 {
  display: flex;
  gap: 30px;
  @media (max-width: 991px) {
    flex-direction: column;
    gap: 50px 0px;
  }
  .cs_footer_col {
    flex: 1;
    @media (max-width: 991px) {
      width: 100%;
    }
    &:first-child {
      flex: 1.7;
      @media (max-width: 1250px) {
        flex: 1.9;
      }
    }
    &:last-child {
      flex: 1.2;
      @media (max-width: 1250px) {
        flex: 1.5;
      }
    }
    &:nth-child(2) {
      padding-left: 100px;
      @media (max-width: 1250px) {
        padding-left: 70px;
      }
      @media (max-width: 991px) {
        padding-left: 0px;
      }
    }
  }
}

.cs_footer.cs_style_1 {
  background-color: #fff9ee;
  .cs_copyright {
    border-top: 1px solid var(--secondary);
    padding: 35px 0;
    @media (max-width: 1400px) {
      padding: 25px 0;
    }
  }
  .cs_footer_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    @media (max-width: 1400px) {
      padding: 70px 0;
    }
    @media (max-width: 1280px) {
      flex-direction: column;
      gap: 20px 0px;
    }
    > * {
      flex: none;
      @media (max-width: 1280px) {
        width: 100%;
        justify-content: center;
      }
    }
  }
  @media (max-width: 1280px) {
    .cs_footer_logo {
      margin-bottom: 8px;
    }
  }
}
.cs_footer.cs_style_2 {
  .cs_footer_in {
    padding: 140px 0 100px;
    @media (max-width: 1400px) {
      padding: 75px 0 80px;
    }
  }
  .cs_copyright {
    border-top: 1px solid var(--accent);
    padding: 35px 0;
    @media (max-width: 1400px) {
      padding: 25px 0;
    }
  }
  .cs_text_widget {
    max-width: 540px;
  }
  .cs_social_links.cs_style_1 {
    flex-wrap: wrap;
    @media (max-width: 1480px) {
      gap: 12px;
      a {
        padding: 7px 15px;
        font-size: 20px;
        gap: 8px;
      }
    }
  }
  &.cs_color_1 {
    color: var(--border);
    background-color: var(--primary);
    .cs_widget_title {
      color: #fff;
    }
    .cs_social_links.cs_style_1 a {
      border-color: #fff;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: var(--primary);
      }
    }
    .cs_copyright {
      border-color: #525050;
    }
  }
  &.cs_color_2 {
    background-color: #f2f2f2;
  }
}
.cs_footer.cs_style_3 {
  .cs_footer_in {
    border-top: 1px solid #525050;
    padding: 93px 0 74px;
    @media (max-width: 1400px) {
      padding: 80px 0;
    }
  }
  .cs_footer_menu {
    justify-content: center;
    gap: 5px 40px;
    @media (max-width: 575px) {
      gap: 5px 30px;
    }
    + .cs_copyright_wrap {
      margin-top: 85px;
      @media (max-width: 1400px) {
        margin-top: 50px;
      }
      @media (max-width: 991px) {
        margin-top: 35px;
      }
    }
  }
  .cs_copyright_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 35px;
      text-align: center;
      .cs_social_links.cs_style_2 {
        justify-content: center;
        gap: 5px 30px;
      }
    }
  }
  .cs_newsletter.cs_style_2 {
    .cs_newsletter_form {
      max-width: 1000px;
    }
  }
}
.cs_footer.cs_style_4 {
  .cs_social_links.cs_style_3 {
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
    color: var(--primary);
    @media (max-width: 575px) {
      gap: 25px;
    }
  }
  .cs_footer_menu {
    justify-content: center;
    gap: 5px 40px;
    margin-top: 60px;
    @media (max-width: 1400px) {
      margin-top: 40px;
    }
    @media (max-width: 575px) {
      gap: 5px 25px;
    }
  }
  .cs_copyright {
    border-top: 1px solid var(--border);
    padding: 30px 0;
  }
  .cs_footer_in {
    padding: 144px 0 143px;
    @media (max-width: 1400px) {
      padding: 75px 0;
    }
  }
}
.cs_footer.cs_style_5 {
  color: var(--border);
  .cs_widget_title {
    color: #fff;
  }
  .cs_copyright_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0;
    border-top: 1px solid #525050;
    @media (max-width: 991px) {
      padding: 35px 0;
      flex-direction: column;
      gap: 18px 0;
      text-align: center;
      .cs_social_links.cs_style_2 {
        justify-content: center;
        gap: 5px 20px;
      }
    }
  }
  .cs_category_list {
    gap: 15px;
    @media (max-width: 1600px) {
      gap: 10px;
    }
    a {
      border: 1px solid var(--border);
      border-radius: 20px;
      background-color: transparent;
      color: var(--border);
      padding: 9px 19px;
      @media (max-width: 1600px) {
        padding: 4px 16px;
      }
      &:hover {
        background-color: var(--border);
        color: var(--primary);
      }
    }
  }
  .cs_footer_in {
    padding: 140px 0 70px;
    @media (max-width: 1400px) {
      padding: 75px 0 80px;
    }
  }
  .cs_text_widget {
    p {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.cs_footer.cs_style_6 {
  .cs_footer_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 40px 0;
      text-align: center;
      .cs_social_links.cs_style_1 {
        justify-content: center;
      }
    }
  }
}
